<%- include('partials/header') %>

<% let title = data.title %>
<% let url = data.url %>
<% let body = data.body %>
<% let date = data.date %>
<% let comments_obj = data.comments[0] %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= title %>
    </div>
    
    <div class="item">
        <div class="ui top attached">
            <img class="ui centered rounded image" src="<%= url %>">
            <a href="/blogs/<%= data._id %>/edit"><button class="ui compact labeled icon button right floated">
                    <i class="edit icon"></i>
                    Edit
            </button></a>
            <span class="content"><%= date.toDateString() %></span>
            <div class="description">
                <p><%- data.body %></p>
            </div>
            <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
                <div class="comment">
                    <span class="author"><%= comments_obj.author %>:</span>
                    <div class="metadata">
                        <span class="date"><%= comments_obj.date.toDateString() %></span>
                    </div>
                    <p><%= comments_obj.content %></p>
                </div>
            </div>
        </div>
    </div>

</div>



<%- include('partials/footer') %>