<%- include('partials/header') %>

<% let title = data.title %>
<% let url = data.url %>
<% let body = data.body %>
<% let date = data.date %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= title %>
    </div>
    
    <div class="item">
        <div class="ui top attached">
            <img class="ui centered rounded image" src="<%= url %>">
            <a href="/blogs/<%= data._id %>/edit"><button class="ui compact labeled icon button right floated">
                    <i class="edit icon"></i>
                    Edit
            </button></a>
            <span class="content"><%= date.toDateString() %></span>
            <div class="description">
                <p><%= data.body %></p>
            </div>
        </div>
    </div>

</div>



<%- include('partials/footer') %>